// fonts
$space-font: "Distant Galaxy", Helvetica, Arial, sans-serif;

// colors
$yellow: #e5b13a;
$clay: #8f5353;
$brick: #804a4a;
$twilight: #323253;
$shadow: #2c2c4a;
$peach: #dfc1c1;
$charm: #c8adad;
$tan: #f0d8c0;
$tanner: #d7c2ac;
$leather: #d8a890;
$nubuck: #c29681;
